@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
    text-decoration: none;
    color: white;
}


#navbar {
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #005F8C;
    color: white;
}

#logo {
    margin: 10px 40px;
}

ul {
    display: flex;
    list-style: none;
}

ul > li {
    margin-right: 100px;
    font-size: 18px;
}

img {
    display: block;
    margin: 50px auto;
    width: 90%;
}

#button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 45px;
    color: white;
    background-color: #002B59;
    font-size: 16px;
    transition: ease-out 0.8s;
    border: none;
}

#button:hover {
    width: 260px;
    box-shadow: inset 410px 0 0 0 #00b9be;
    color: white;
}

.spacer {
    margin-top: 80px;
    aspect-ratio: 1440/480;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    background-image: url(waveSvg.svg);
}

.title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-top: 50px;
    }

.howPara {
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    width: 60%;
    margin: 45px auto;
}

#about {
    height: 60vh;
    background-color: #002B59;
}

